@font-face {
  font-family: Pretendard;
  src: url(../font/Pretendard-Light.subset.woff2) format(woff2), url(../font/Pretendard-Light.subset.woff) format(woff);
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Space Grotesk", "Pretendard", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  background: rgb(11, 124, 46);
  background: linear-gradient(0deg, rgba(11, 124, 46, 1) 0%, rgba(18, 167, 64, 1) 19%, rgba(28, 202, 82, 1) 41%, rgba(58, 219, 101, 1) 60%, rgba(100, 232, 177, 1) 81%, rgba(139, 242, 230, 1) 100%);
  overflow: scroll;
  // align-items: center;
  position: relative;
  overflow-x: hidden;
}
:root {
  --yellow: #fff980;
  --grey: #d1d1d1;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}
a.button {
  display: flex;
  position: absolute;
  padding: 0.6rem 1rem;
  top: 2rem;
  border-radius: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--yellow);
  cursor: pointer;
  z-index: 20;
}
a.button:hover {
  filter: drop-shadow(0px 0px 10px #f7ff8c);
}
.pocket {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
  bottom: 2rem;
  right: -20rem;
  padding: 1.5rem;
  gap: 0.3rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  transition: right 0.5s ease;
}
.stoneContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.6rem;
}
.stoneContainer div {
  width: 4.5rem;
  height: 4.5rem;
}

//stone element
.stones {
  position: absolute;
  display: block;
  z-index: 15;
}
.stones img {
  position: absolute;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.stones img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.stones img:nth-child(21) {
  top: 60rem;
  left: 30rem;
  animation: move3 4s linear infinite;
}
.stones img:nth-child(20) {
  top: 90rem;
  left: 8rem;
}
.stones img:nth-child(19) {
  top: 124rem;
  left: 60rem;
  animation: wiggle3 2s linear infinite;
}
.stones img:nth-child(18) {
  top: 160rem;
  left: 35rem;
  animation: move2 0.5s linear infinite;
}
.stones img:nth-child(17) {
  top: 190rem;
  left: 60rem;
}
.stones img:nth-child(16) {
  top: 230rem;
  left: 12rem;
  animation: move2 3s linear infinite;
}
.stones img:nth-child(15) {
  top: 264rem;
  left: 45rem;
  animation: rotateImage 20s linear infinite;
}
.stones img:nth-child(14) {
  top: 310rem;
  left: 54rem;
  animation: wiggle2 0.5s ease-in-out infinite;
}
.stones img:nth-child(13) {
  top: 380rem;
  left: 12rem;
}
.stones img:nth-child(12) {
  top: 420rem;
  left: 58rem;
}
.stones img:nth-child(11) {
  top: 480rem;
  left: 16rem;
}
.stones img:nth-child(10) {
  top: 520rem;
  left: 31rem;
  animation: move 1.5s ease-in-out infinite;
}
.stones img:nth-child(9) {
  top: 580rem;
  left: 58rem;
  animation: moveDiagonal 4s ease-in-out infinite;
}
.stones img:nth-child(8) {
  top: 620rem;
  left: 24rem;
  animation: rotateImage 20s linear infinite;
}
.stones img:nth-child(7) {
  top: 685rem;
  left: 58rem;
}
.stones img:nth-child(6) {
  top: 730rem;
  left: 24rem;
  animation: wiggle 0.5s ease-in-out infinite;
}
.stones img:nth-child(5) {
  top: 820rem;
  left: 15rem;
  animation: moveVertical 3s ease-in-out infinite;
}
.stones img:nth-child(4) {
  top: 840rem;
  left: 24rem;
}
.stones img:nth-child(3) {
  top: 880rem;
  left: 50rem;
  animation: rotateAndMove 5s ease-in-out infinite;
}
.stones img:nth-child(2) {
  top: 940rem;
  left: 30rem;
  animation: move4 7s linear infinite;
}
.stones img:nth-child(1) {
  top: 990rem;
  left: 16rem;
  animation: wiggle3 2s linear infinite;
}
@keyframes moveDiagonal {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translate(-850px, -400px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes moveVertical {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-900px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes rotateAndMove {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-700px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes wiggle3 {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
@keyframes move4 {
  0% {
    transform: translateX(0px);
    rotate: 0deg;
  }
  50% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
    rotate: 360deg;
  }
}

@keyframes move3 {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-250px);
  }
  50% {
    transform: translateY(-250px);
  }
  75% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(180px);
  }
  0% {
    transform: translateX(0);
  }
}

@keyframes wiggle2 {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}

//background forest code
.parallax-wrap {
  position: relative;
  width: 100%;
  height: 17048px;
  overflow: hidden;
  display: flex;
  z-index: 1;
}
.parallax-wrap span {
  position: absolute;
}
.parallax-wrap span:nth-child(1) {
  left: -4rem;
  bottom: 56rem;
  z-index: 2;
}
.parallax-wrap span:nth-child(2) {
  left: 22rem;
  bottom: -35rem;
  z-index: -1;
}
.parallax-wrap span:nth-child(3) {
  right: -5rem;
  bottom: -59rem;
}
.parallax-wrap span:nth-child(4) {
  left: -2rem;
  bottom: 50rem;
}
.parallax-wrap span:nth-child(5) {
  left: 30rem;
  bottom: 72rem;
}
.parallax-wrap span:nth-child(6) {
  right: -3rem;
  bottom: -22rem;
  z-index: -1;
}
.parallax-wrap span:nth-child(7) {
  left: 1rem;
  bottom: -18rem;
  z-index: 2;
}
.parallax-wrap span:nth-child(8) {
  left: 4rem;
  bottom: 54rem;
  z-index: 2;
}
.parallax-wrap span:nth-child(9) {
  right: 4rem;
  bottom: 108rem;
  z-index: -2;
}
.parallax-wrap span:nth-child(10) {
  left: -1rem;
  bottom: 60rem;
  z-index: -1;
}
.parallax-wrap span:nth-child(11) {
  left: 22rem;
  bottom: 24rem;
}
.parallax-wrap span:nth-child(12) {
  right: -1rem;
  bottom: 120rem;
}
.parallax-wrap span:nth-child(13) {
  left: -4rem;
  bottom: 180rem;
}
.parallax-wrap span:nth-child(14) {
  right: -4rem;
  bottom: 103rem;
  z-index: -2;
}
.parallax-wrap span:nth-child(15) {
  right: -4rem;
  bottom: 60rem;
  z-index: 2;
}
.parallax-wrap span:nth-child(16) {
  left: -4rem;
  bottom: 199rem;
  z-index: 2;
}
.parallax-wrap span:nth-child(17) {
  right: 0em;
  bottom: 240rem;
}
.parallax-wrap span:nth-child(18) {
  left: 0em;
  bottom: 190rem;
}
.parallax-wrap span:nth-child(19) {
  right: 19em;
  bottom: 182rem;
}
.parallax-wrap span:nth-child(20) {
  right: 1em;
  bottom: 248rem;
}
.parallax-wrap span:nth-child(21) {
  left: -3em;
  bottom: 294rem;
  z-index: -1;
}
.parallax-wrap span:nth-child(22) {
  left: 14em;
  bottom: 208rem;
}
.parallax-wrap span:nth-child(23) {
  left: 10rem;
  bottom: 216rem;
  z-index: -2;
}
.parallax-wrap span:nth-child(24) {
  right: 4em;
  bottom: 292rem;
  z-index: -2;
}
.parallax-wrap span:nth-child(25) {
  left: -2rem;
  bottom: 332rem;
}
.parallax-wrap span:nth-child(26) {
  right: 2rem;
  bottom: 276rem;
}
.parallax-wrap span:nth-child(27) {
  left: -2rem;
  bottom: 286rem;
  z-index: -1;
}
.parallax-wrap span:nth-child(28) {
  left: 12rem;
  bottom: 340rem;
  z-index: -2;
}
.parallax-wrap span:nth-child(29) {
  left: 17rem;
  bottom: 366rem;
}
.parallax-wrap span:nth-child(30) {
  right: -1rem;
  bottom: 296rem;
  z-index: -1;
}
.parallax-wrap span:nth-child(31) {
  left: -1rem;
  bottom: 322rem;
}
.parallax-wrap span:nth-child(32) {
  left: 4rem;
  bottom: 362rem;
  z-index: -2;
}
.parallax-wrap span:nth-child(33) {
  right: -1rem;
  bottom: 400rem;
}
.parallax-wrap span:nth-child(34) {
  left: 1rem;
  bottom: 350rem;
}
.parallax-wrap span:nth-child(35) {
  left: -1rem;
  bottom: 382rem;
  z-index: -2;
}
.parallax-wrap span:nth-child(36) {
  left: 4rem;
  bottom: 442rem;
  z-index: -1;
}
.parallax-wrap span:nth-child(37) {
  right: 2rem;
  bottom: 458rem;
  z-index: -1;
}
.parallax-wrap span:nth-child(38) {
  left: -1rem;
  bottom: 430rem;
}
.parallax-wrap span:nth-child(39) {
  left: 32rem;
  bottom: 416rem;
}
.parallax-wrap span:nth-child(40) {
  left: 8rem;
  bottom: 472rem;
  z-index: -1;
}
.parallax-wrap span:nth-child(41) {
  left: -4rem;
  bottom: 508rem;
  z-index: -1;
}
.parallax-wrap span:nth-child(42) {
  left: -6rem;
  bottom: 467rem;
  z-index: -2;
}
.parallax-wrap span:nth-child(43) {
  right: -2rem;
  bottom: 467rem;
  z-index: -2;
}
.parallax-wrap span:nth-child(44) {
  left: -2rem;
  bottom: 532rem;
}
.parallax-wrap span:nth-child(45) {
  right: 2rem;
  bottom: 548rem; // adjust color
}
.parallax-wrap span:nth-child(46) {
  right: -1rem;
  bottom: 522rem;
  z-index: -1;
}
.parallax-wrap span:nth-child(47) {
  right: -2rem;
  bottom: 503rem;
}
.parallax-wrap span:nth-child(48) {
  left: -2rem;
  bottom: 596rem;
}
.parallax-wrap span:nth-child(49) {
  left: 16rem;
  bottom: 608rem;
}
.parallax-wrap span:nth-child(50) {
  right: 13em;
  bottom: 562rem;
  z-index: -2;
}
.parallax-wrap span:nth-child(51) {
  right: -1rem;
  bottom: 564rem;
}
.parallax-wrap span:nth-child(52) {
  left: -3rem;
  bottom: 600rem;
  z-index: -1;
}
.parallax-wrap span:nth-child(53) {
  left: 7rem;
  bottom: 630rem;
}
.parallax-wrap span:nth-child(54) {
  right: -1rem;
  bottom: 612rem;
  z-index: -2;
}
.parallax-wrap span:nth-child(55) {
  left: -1rem;
  bottom: 612rem;
}
.parallax-wrap span:nth-child(56) {
  right: -1rem;
  bottom: 670rem;
  z-index: -3;
}
.parallax-wrap span:nth-child(57) {
  left: 7rem;
  bottom: 690rem;
  z-index: -1;
}
.parallax-wrap span:nth-child(58) {
  right: -1rem;
  bottom: 668rem;
}
.parallax-wrap span:nth-child(59) {
  right: 16rem;
  bottom: 660rem;
  z-index: -2;
}
.parallax-wrap span:nth-child(60) {
  left: -8rem;
  bottom: 700rem;
}
.parallax-wrap span:nth-child(61) {
  right: 0rem;
  bottom: 720rem;
  z-index: -1;
}
.parallax-wrap span:nth-child(62) {
  left: 0rem;
  bottom: 710rem;
  z-index: -1;
}
.parallax-wrap span:nth-child(63) {
  right: -2rem;
  bottom: 714rem;
  z-index: -2;
}
.parallax-wrap span:nth-child(64) {
  right: 32rem;
  bottom: 760rem;
  z-index: -2;
}
.parallax-wrap span:nth-child(65) {
  left: -8rem;
  bottom: 770rem;
  z-index: -2;
}
.parallax-wrap span:nth-child(66) {
  right: 0rem;
  bottom: 756rem;
}
.parallax-wrap span:nth-child(67) {
  right: 14rem;
  bottom: 766rem;
  z-index: -1;
}
.parallax-wrap span:nth-child(68) {
  left: -2rem;
  bottom: 807rem;
}
.parallax-wrap span:nth-child(69) {
  right: 1rem;
  bottom: 808rem;
  z-index: -1;
}
.parallax-wrap span:nth-child(70) {
  right: -2rem;
  bottom: 808rem;
}
.parallax-wrap span:nth-child(71) {
  left: -1rem;
  bottom: 820rem;
}
.parallax-wrap span:nth-child(72) {
  left: -1rem;
  bottom: 847rem;
  z-index: -2;
}
.parallax-wrap span:nth-child(73) {
  right: -1rem;
  bottom: 860rem;
  z-index: -2;
}
.parallax-wrap span:nth-child(74) {
  left: -1rem;
  bottom: 890rem; // change color
}
.parallax-wrap span:nth-child(75) {
  left: 14rem;
  bottom: 862rem;
  z-index: -3;
}
.parallax-wrap span:nth-child(76) {
  right: -3rem;
  bottom: 892rem;
}
.parallax-wrap span:nth-child(77) {
  left: -2rem;
  bottom: 920rem;
}
.parallax-wrap span:nth-child(78) {
  left: 4rem;
  bottom: 902rem;
  z-index: -3;
}
.parallax-wrap span:nth-child(79) {
  right: -12rem;
  bottom: 880rem;
}
.parallax-wrap span:nth-child(80) {
  right: 0rem;
  bottom: 936rem;
  z-index: -2;
}
.parallax-wrap span:nth-child(81) {
  left: -3rem;
  bottom: 938rem;
}
.parallax-wrap span:nth-child(82) {
  left: 9rem;
  bottom: 930rem;
}
.parallax-wrap span:nth-child(83) {
  left: 20rem;
  bottom: 940rem;
  z-index: -2;
}
.parallax-wrap span:nth-child(84) {
  left: -3rem;
  bottom: 960rem;
  z-index: -3;
}
.parallax-wrap span:nth-child(85) {
  left: 10rem;
  bottom: 960rem;
  z-index: -4;
}
.parallax-wrap span:nth-child(86) {
  left: 32rem;
  bottom: 980rem;
}
.parallax-wrap span:nth-child(87) {
  left: -3rem;
  bottom: 670rem;
}
.parallax-wrap span:nth-child(88) {
  right: 0rem;
  bottom: 980rem;
  z-index: -3;
}
.parallax-wrap span:nth-child(89) {
  left: -2rem;
  bottom: 990rem;
  z-index: -5;
}
.parallax-wrap span:nth-child(90) {
  left: 2rem;
  bottom: 980rem;
  z-index: -5;
}
.parallax-wrap span:nth-child(91) {
  right: -1rem;
  bottom: 1002rem;
}
.parallax-wrap span:nth-child(92) {
  right: -1rem;
  bottom: 1010rem;
  z-index: -4;
}
.parallax-wrap span:nth-child(93) {
  right: -1rem;
  bottom: 1033rem;
  z-index: -1;
}
.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 20;
}
.greeting {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.5rem 1rem 2.5rem 0.5rem;
  width: 40rem;
  gap: 1.2rem;
  background-color: white;
  border-radius: 1rem;
}
.greeting p {
  line-height: 1.5rem;
}
.greeting a:hover {
  text-decoration: underline;
}
.circles div {
  position: absolute;
  width: 0.875rem;
  height: 0.875rem;
  border: 1.5px solid #000000;
  border-radius: 100%;
}
.circles div:nth-child(1) {
  left: 1.25rem;
  top: 1.25rem;
}
.circles div:nth-child(2) {
  top: 1.25rem;
  right: 1.25rem;
}
.circles div:nth-child(3) {
  bottom: 4.3rem;
  left: 1.25rem;
}
.circles div:nth-child(4) {
  bottom: 4.3rem;
  right: 1.25rem;
}
.greeting h2 {
  font-size: 32px;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.language-switcher {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
}
.language-switcher button {
  all: unset;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  cursor: pointer;
}
.language-switcher button:hover {
  background-color: var(--yellow);
}
.intro {
  display: flex;
  flex-direction: column;
}
.intro h3 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}
#clickformore {
  color: #afafaf;
  animation: textcolor 2s linear infinite;
  cursor: pointer;
}
@keyframes textcolor {
  0% {
    color: #00ff36;
  }
  25% {
    color: #52c3c6;
  }
  50% {
    color: #018010;
  }
  75% {
    color: #1dc24f;
  }
  100% {
    color: #00ff36;
  }
}
.stick {
  width: 2.4rem;
  height: 3rem;
  background: rgb(203, 203, 203);
  background: linear-gradient(180deg, rgba(203, 203, 203, 1) 0%, rgba(254, 254, 254, 1) 21%);
}
.mobile-message {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1dc24f;
  color: white;
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
  z-index: 9999; /* 화면 위에 오도록 설정 */
}
