* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  list-style: none;
  box-sizing: border-box;
  position: relative;
}

html {
  font-size: 18px;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

:root {
  --yellow: #f4ff7a;
}

body {
  display: flex;
  flex-direction: column;
  background-color: darkolivegreen;
  // min-height: 100vh;
  // align-items: center;
}

.altitude {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 1.5rem;
  left: 2rem;
  > span {
    margin-right: 5px;
  }
}

.i {
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  width: 2.3rem;
  height: 2.3rem;
}

.peek {
  width: 100vw;
  height: 100vh;
  background-color: cadetblue;
  z-index: -1;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4rem;
  > h2 {
    text-align: center;
    font-family: "Space Mono", monospace;
    font-weight: 400;
  }
}

.pocket_bar {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  #openCanvas_btn {
    padding: 0.5rem 0.77rem 0.55rem 0.77rem;
    background-color: var(--yellow);
    margin-bottom: 1.11rem;
  }
}

.pocket {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.12);
  width: 57.77rem;
  padding: 0.88rem 1.33rem 1.66rem 1.33rem;
  > span {
    margin-right: 1rem;
  }
  #pocket_container {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 5.11rem;
  }
}

.ground {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100 * 5vh;
}

.stone {
  &:nth-child(1) {
    top: 10px;
    left: 20px;
  }

  &:nth-child(2) {
    top: 50px;
    left: 100px;
  }

  &:nth-child(3) {
    top: 90px;
    left: 180px;
  }

  &:nth-child(4) {
    top: 130px;
    left: 260px;
  }

  &:nth-child(5) {
    top: 170px;
    left: 340px;
  }
}

// span.stone.in-pocket {
//   position: static; /* pocket 안에서는 정적 위치로 변경 */
//   margin-right: 10px; /* 각 돌 사이에 간격을 줄 수 있습니다 */
// }
